# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.egg

# Virtual environment
venv/
.env/

# Output & cache
output/cache/
output/*.html
*.csv
*.xlsx
*.pkl

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
